body{
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab';

}

ul, li, a {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

.site-wrapper {
    min-height: 100vh;

}
.main-header, .main-nav {
    display:flex;
}

.main-nav {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}
.main-nav li {
    padding-top:2.5%;
    padding-bottom: 2.5%;
    text-align:center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


.mobile-nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.toggle-mobile-nav {

    border: 1px solid black;
    height: 30px;
    width: 30px;
    align-self: center;
    margin-right: 2.5%;
    border-radius: 10%;
    padding: 1%;
}
.toggle-mobile-nav:hover{
    cursor: pointer;
}


#logo {
    margin-left: 2.5%;
    cursor: pointer;
    color: black;
}

.fa-lg {
    margin-top:.15em;
    font-size: 1.9em;
    margin-left:.05em;
}

.intro {
    display: flex;
    flex-direction: column;
    padding-left: 2.5%;
    padding-right: 2.5%;
    align-items: center;
    background-color: #38A5DB;
}
.intro h1 {
    padding-top: 10%;
    margin-bottom: 0;
    color: white;
}
.intro h3 {
    padding-bottom: 5%;
    color: white;
}

.intro-image {
    max-width: 100%;
    margin-bottom: 10%;
}

/*********************************
Playground.html
*********************************/

.playground-title {
    display: flex;
    flex-direction: row;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.pg-items-wrapper {
        display:flex;
        width: 100%;

}

.pg-items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pg-items li {
    text-align: center;
}
